# Ignore project files.
.idea/

# Make sure we don't commit any certificates or keys.
srv/certs/*
!srv/certs/README.md

# Make sure we don't commit any site files with this project.
srv/jurassic-john.site/*
!srv/jurassic-john.site/README.md
srv/f4rside.com/*
!srv/f4rside.com/README.md

# Make sure we don't commit any Nginx configuration with this project.
config
