# Ignore project files.
.idea/

# Make sure we don't commit any source files with this project.
src/

# Make sure we don't commit any certificates or keys.
srv/certs/*
!srv/certs/README.md

# Make sure we don't commit any site files with this project.
srv/jurassic-john.site/
srv/f4rside.com/

# Make sure we don't commit any Nginx configuration files with this project.
config/
