# Ignore project files.
.idea/

# Make sure we don't commit any certificates or keys.
**/*.crt
**/*.key

# Make sure we don't commit any source files with this project.
src/

# Make sure we don't commit any environment variable configuration files with this project.
**/*.env
